<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <div class="row pointer">
        <div class="col-2">
          <label class="custom-toggle">
            <input
              type="checkbox"
              id="check"
              [disabled]="isExpired"
              [checked]="isEnable"
              (click)="toggleCheckbox()"
            />
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
        </div>
        <div class="col text-right" (click)="toggleCheckbox()">
          <span>مخفف لینک دلخواه</span>
        </div>
      </div>
      <div class="row inputValue" *ngIf="isEnable">
        <div class="col-6">
          <input
            [disabled]="!isEnable"
            id="customLink"
            type="text"
            class="form-control custome-input"
            [(ngModel)]="selectedShorten"
            (keyup)="checkShorten()"
            placeholder=" . . ."
          />
        </div>
        <p class="col text-danger">{{ message }}</p>
      </div>
    </div>
  </div>
</div>
