<div class="row">
  <div class="col-md-12">
    <div
      class="form-group"
      [ngStyle]="{ 'pointer-events': isExpired === true ? 'none' : 'auto' }"
    >
      <div
        class="custom-control custom-checkbox mb-3"
        data-toggle="tooltip"
        data-placement="top"
        title="برای پسوند لینک کوتاه خود نام دلخواه بگذارید"
      >
        <label class="container">
          <input
            type="checkbox"
            id="check"
            (change)="toggleCheckbox()"
            [checked]="checked"
          />
          <span class="checkmark"></span>
        </label>
      </div>

      <input
        [disabled]="disabled"
        id="customLink"
        type="text"
        class="form-control pass-input"
        [(ngModel)]="selectedShorten"
        (keyup)="checkShorten()"
        placeholder=" ..."
      /><label class="customLabel"> لینک کوتاه دلخواه خود را داشته باشید</label>
    </div>
    <p class="textDanger">{{ message }}</p>
  </div>
</div>
