.container {
  margin: 50px auto;
  width: 500px;
  border-radius: 5px;
}

.col-form-label {
  margin-right: 15px;
  font-size: 14px;
}

.form-group {
  display: block;
  margin: 0;
}

.form-control-plaintext {
  color: darkred;
  font-weight: bold;
}

.password-input {
  height: 30px;
  width: 450px;
}

.btn-submit {
  margin-right: 15px;
  margin-top: 20px;
}
