<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="row pointer">
        <div class="col-3">
          <label class="custom-toggle">
            <input
              type="checkbox"
              id="check"
              [disabled]="isExpired"
              [checked]="isEnable"
              (click)="toggleCheckbox()"
            />
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
        </div>
        <div class="col text-right" (click)="toggleCheckbox()">
          <span>برچسب ها</span>
        </div>
      </div>
      <div class="row" *ngIf="isEnable">
        <div class="col">
          <ng-select
            [items]="data"
            [addTag]="addTagFn"
            [hideSelected]="true"
            multiple="true"
            bindLabel="title"
            [(ngModel)]="link.categories"
          ></ng-select>
        </div>
      </div>
    </div>
  </div>
</div>
