.card {
  margin: 0 auto;
}

.form {
  text-align: center;
}
@media (min-width: 700px) {
  .form-group {
    margin-left: 130px;
    margin-right: 130px;
  }
}
@media (max-width: 700px) and (min-width: 600px) {
  .form-group {
    margin-left: 70px;
    margin-right: 70px;
  }
}
