<app-register *ngIf="registerMode; else: login"></app-register>
<ng-template #login> <app-login></app-login> </ng-template>

<div class="row mt-3">
  <div class="col-6">
    <a href="#" class="text-light">
      <small>کلمه عبور خود را فراموش کرده اید ؟</small>
    </a>
  </div>
  <div class="col-6 text-left">
    <a class="text-light" (click)="toggleRegisterMode()">
      <small class="text-primary" *ngIf="!registerMode"
        >همین الان ثبت نام کنید !</small
      >
      <small class="text-primary" *ngIf="registerMode"
        >قبلا عضو شده اید؟ از اینجا وارد شوید</small
      ></a
    >
  </div>
</div>
