<header class="header-global">
  <nav class="navbar navbar-expand-lg navbar-dark bg-default">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="./index.html">
        <img src="assets/img/brand/white.png" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-default"
        aria-controls="navbar-default"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="index.html"> <img src="assets/img/brand/blue.png" /> </a>
            </div>
            <div class="col-6 collapse-close">
              <button
                type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbar-default"
                aria-controls="navbar-default"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span> <span></span>
              </button>
            </div>
          </div>
        </div>

        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="#">
              <i class="ni ni-favourite-28"></i>
              <span class="nav-link-inner--text d-lg-none">Discover</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="#">
              <i class="ni ni-notification-70"></i>
              <span class="nav-link-inner--text d-lg-none">Profile</span>
            </a>
          </li>
            <app-user-info
              *ngIf="userInfo; else: auth"
              [user]="userInfo"
            ></app-user-info>
          <ng-template #auth>
            <li class="nav-item dropdown">
              <a
                class="nav-link nav-link-icon"
                href="#"
                id="navbar-default_dropdown_1"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-user-circle"></i>
                <span class="menu-text">ورود / ثبت نام</span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right dropdown-menu-xl"
                aria-labelledby="navbar-default_dropdown_1"
              >
                <app-auth></app-auth>
              </div>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</header>
