<header class="header-global">
  <nav class="navbar navbar-expand-lg navbar-dark bg-default">
    <div class="container">
      <a class="navbar-brand mr-lg-5" routerLink="/">
        <i class="fas fa-home" style="font-size:35px"></i>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-default"
        aria-controls="navbar-default"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a routerLink="/"> <img src="assets/img/brand/blue.png" /> </a>
            </div>
            <div class="col-6 collapse-close">
              <button
                type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbar-default"
                aria-controls="navbar-default"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span> <span></span>
              </button>
            </div>
          </div>
        </div>

        <ul class="navbar-nav ml-lg-auto">
          <app-user-info *ngIf="userInfo" [user]="userInfo"></app-user-info>
          <li class="nav-item" *ngIf="!userInfo">
            <a class="nav-link nav-link-icon" routerLink="login">
              ورود / ثبت نام
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
