<div class="row row-grid">
  <div class="col-lg-4" *ngFor="let item of plans; let i = index">
    <div class="card card-lift--hover shadow border-0">
      <div class="card-body py-4">
        <div
          class="icon icon-shape icon-shape-{{ colors[i] }} rounded-circle mb-4"
        >
          <i class="ni ni-check-bold"></i>
        </div>
        <h6 class="text-{{ colors[i] }} text-uppercase">{{ item.name }}</h6>
        <p class="description mt-3">{{ item.description }}</p>
        <h5 class="text-large">{{ item.price | price }}</h5>
        <a
          style="color:white"
          (click)="selectPlan(item)"
          class="btn btn-{{ colors[i] }} mt-4 btn-sm"
          >همین خوبه</a
        >
      </div>
    </div>
  </div>
</div>
