<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="row pointer">
        <div class="col-2">
          <label class="custom-toggle">
            <input
              type="checkbox"
              id="check"
              [disabled]="isExpired"
              [checked]="isEnable"
              (click)="toggleCheckbox()"
            />
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
        </div>
        <div class="col text-right" (click)="toggleCheckbox()">
          <span> نتایج خصوصی باشد</span>
        </div>
      </div>
      <!-- <div class="row" *ngIf="isEnable"></div> -->
    </div>
  </div>
</div>
