.message {
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 800px) {
  .message {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .message {
    font-size: 10px;
  }
}
