<!-- <form>
  <div class="form-group">
    <label for="link">Link</label>
    <input
      type="text"
      class="form-control"
      id="link"
      aria-describedby="linkHelp"
    />
  </div>
  <div class="form-group">
    <label for="medium">Medium</label>
    <input
      type="text"
      class="form-control"
      id="medium"
      aria-describedby="mediumHelp"
    />
  </div>
  <div class="form-group">
    <label for="sorce">Sorce</label>
    <input
      type="text"
      class="form-control"
      id="sorce"
      aria-describedby="sorceHelp"
    />
  </div>
  <div class="form-group">
    <label for="campaignName">Campaign Name</label>
    <input
      type="text"
      class="form-control"
      id="campaignName"
      aria-describedby="campaignNameHelp"
    />
  </div>
  <div class="form-group">
    <label for="term">Term(Optional)</label>
    <input
      type="text"
      class="form-control"
      id="term"
      aria-describedby="termHelp"
    />
  </div>
  <div class="form-group">
    <label for="content">Content(Optional)</label>
    <input
      type="text"
      class="form-control"
      id="content"
      aria-describedby="contentHelp"
    />
  </div>

  <button type="submit" class="btn btn-primary">Get UTM</button>
</form> -->
<div class="row">
  <div class="col-md-12">
    <!-- toggle feature -->
    <div class="row pointer">
      <div class="col-3">
        <label class="custom-toggle">
          <input
            type="checkbox"
            id="check"
            [disabled]="isExpired"
            [checked]="isEnable"
            (click)="toggleCheckbox()"
          />
          <span class="custom-toggle-slider rounded-circle"></span>
        </label>
      </div>
      <div class="col text-right" (click)="toggleCheckbox()">
        <span>ایجاد UTM</span>
      </div>
    </div>
    <!-- form input -->
    <div class="row form" *ngIf="isEnable">
      <form>
        <div class="form-group">
          <label for="medium">
            Medium
            <i
              title=" محل قرار دادن لینک مثل
            ایمیل و تلگرام"
              class="fas fa-question-circle"
            ></i>
          </label>
          <input
            [disabled]="!isEnable"
            type="text"
            class="form-control"
            [(ngModel)]="utmParameters.utm_medium"
            (input)="addUtmToLink()"
            name="medium"
            aria-describedby="mediumHelp"
          />
        </div>
        <div class="form-group">
          <label for="sorce"
            >Source
            <i title="نام مرجع اصلی لینک" class="fas fa-question-circle"></i
          ></label>
          <input
            [disabled]="!isEnable"
            type="text"
            class="form-control"
            [(ngModel)]="utmParameters.utm_source"
            (input)="addUtmToLink()"
            name="sorce"
            id="sorce"
            aria-describedby="sorceHelp"
          />
        </div>
        <div class="form-group">
          <label for="campaignName"
            >Campaign Name
            <i
              title="یک اسم یکتا برای کمپین مورد نظر
            مثل advertise"
              class="fas fa-question-circle"
            ></i
          ></label>
          <input
            [disabled]="!isEnable"
            type="text"
            class="form-control"
            [(ngModel)]="utmParameters.utm_campaign"
            (input)="addUtmToLink()"
            name="campaign"
            id="campaignName"
            aria-describedby="campaignNameHelp"
          />
        </div>
        <div class="form-group">
          <label for="term"
            >Term (Optional)
            <i title="کلمه کلیدی مورد نظر" class="fas fa-question-circle"></i
          ></label>
          <input
            [disabled]="!isEnable"
            type="text"
            class="form-control"
            [(ngModel)]="utmParameters.utm_term"
            (input)="addUtmToLink()"
            name="term"
            id="term"
            aria-describedby="termHelp"
          />
        </div>
        <div class="form-group">
          <label for="content"
            >Content (Optional)
            <i
              title="زمانی که برای یک کمپین محتوای تبلیغاتی متفاوتی
                داشته باشیم"
              class="fas fa-question-circle"
            ></i
          ></label>
          <input
            [disabled]="!isEnable"
            type="text"
            class="form-control"
            [(ngModel)]="utmParameters.utm_content"
            (input)="addUtmToLink()"
            name="content"
            id="content"
            aria-describedby="contentHelp"
          />
        </div>
      </form>
    </div>
    <p class="text-danger">{{ message }}</p>
  </div>
</div>
