.form-control {
  height: 30px;
}

.form {
  padding-right: 5%;
  text-align: right;
}
.form-group {
  display: inline-block;
  width: 98%;
}

.fa {
  color: lightskyblue;
  cursor: pointer;
  font-size: 15px;
}
.pointer {
  padding-right: 1vw;
}
.text-danger {
  font-size: 13px;
}
