.tag-filter-container {
  display: block;
}

.filter-tag {
  margin-bottom: 10px;
}

.selectTags {
  cursor: pointer;
  width: 130px;
}

.selectedTag {
  font-weight: bold;
  margin-left: 5px;
  float: right;
}

.selectedTag > i {
  cursor: pointer;
}
