<app-link-filter
  [selectedTags]="selectedTags"
  [userTags]="userTags"
></app-link-filter>
<br />
<br />
<table
  *ngIf="links && links.length !== 0"
  class="table table-striped table-responsive-md"
>
  <thead>
    <tr>
      <th>لینک</th>
      <th>لینک کوتاه شده</th>
      <th>در تاریخ</th>
      <th></th>
      <th>جزئیات</th>
      <th>ویرایش</th>
      <th>حذف</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let link of links; let i = index">
      <td class="tdAdress">
        {{ link.address }}
      </td>
      <td>
        <a class="shorten" href="{{ host }}/{{ link.shorten }}" target="_blank"
          >{{ link.shorten }}
        </a>
      </td>
      <td>{{ link.createDate }}</td>
      <td>
        <i
          class="fa fa-copy"
          (click)="copyToClipBoard(link.shorten)"
          title="لینک کوتاه کپی شود"
        ></i>
      </td>
      <td>
        <button
          class="fa fa-info-circle"
          (click)="getLinkInfo(link.shorten)"
        ></button>
      </td>
      <td>
        <button
          (click)="updateUserLink(link._id)"
          class="fa fa-edit"
          title="{{
            remainingDays == 0
              ? 'برای ویرایش لینک نیاز به خرید اکانت دارید.'
              : ''
          }}"
        ></button>
      </td>
      <td>
        <button
          (click)="deleteUserLink(link._id)"
          class="fa fa-trash-o"
          title="{{
            remainingDays == 0 ? 'برای حذف لینک نیاز به خرید اکانت دارید.' : ''
          }}"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
<app-link-doesnt-exist
  *ngIf="links && links.length === 0"
></app-link-doesnt-exist>
