<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->

      <div
        class="container col-lg-12 shape-container d-flex align-items-center py-lg"
      >
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 text-center">
              <img
                src="./assets/img/brand/link.png"
                style="width: 200px;"
                class="img-fluid"
              />
              <p class="lead">بهترین کوتاه کننده لینک</p>
              <div class="row">
                <div *ngIf="!isLoading" class="col-lg-12 col-sm-12">
                  <app-link-create></app-link-create>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
</main>
