<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <div
        class="custom-control custom-checkbox mb-3"
        data-toggle="tooltip"
        data-placement="top"
        title="برای نمایش گزارش مربوط به کلیک ها باید کلمه عبور وارد شود ، با وارد کردن کلمه عبور حتی اگر نتایج خصوصی باشد نیزگزارش نمایش داده میشود"
      >
        <label class="container">
          <input type="checkbox" id="savePass" (click)="save()" />
          <span class="checkmark"></span>
        </label>
      </div>
      <input
        type="password"
        placeholder="کلمه عبور"
        class="form-control"
        [(ngModel)]="password"
        disabled
      />
    </div>
  </div>
</div>
<!-- [disabled]="password.length < minimumLength" -->
