<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="row pointer" (click)="toggleCheckbox($event)">
        <div class="col-1">
          <label class="custom-toggle">
            <input
              type="checkbox"
              id="check"
              [disabled]="isGikhar"
              [checked]="isEnable"
              title="برای نمایش گزارش مربوط به کلیک ها باید کلمه عبور وارد شود ، با وارد کردن کلمه عبور حتی اگر نتایج خصوصی باشد نیزگزارش نمایش داده میشود"
            />
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
        </div>
        <div class="col text-right">
        کلمه عبور برای نمایش آمار
        </div>
      </div>

      <div class="row" *ngIf="isEnable">
        <input
          [disabled]="disabled"
          type="password"
          class="form-control pass-input"
          [(ngModel)]="selectedPassword"
          (keyup)="checkPassword()"
          placeholder=" . . ."
        />
        <p class="text-danger">{{ message }}</p>
      </div>
    </div>
  </div>
</div>
