<div class="row">
  <div class="col-md-12">
    <div
      class="form-group"
      [ngStyle]="{ 'pointer-events': isExpired === true ? 'none' : 'auto' }"
    >
      <div
        class="custom-control custom-checkbox mb-3"
        data-toggle="tooltip"
        data-placement="top"
        title="برای نمایش گزارش مربوط به کلیک ها باید کلمه عبور وارد شود ، با وارد کردن کلمه عبور حتی اگر نتایج خصوصی باشد نیزگزارش نمایش داده میشود"
      >
        <label class="container">
          <input
            type="checkbox"
            id="check"
            (change)="toggleCheckbox()"
            [checked]="checked"
          />
          <span class="checkmark"></span>
        </label>
      </div>

      <input
        [disabled]="disabled"
        type="password"
        class="form-control pass-input"
        [(ngModel)]="selectedPassword"
        (keyup)="checkPassword()"
        placeholder=" . . ."
      /><label class="customLabel">کلمه عبور برای لینک خود داشته باشید</label>
    </div>
    <p class="textDanger">{{ message }}</p>
  </div>
</div>
