.pass-input {
  height: 30px;
}
.pointer {
  padding-right: 1vw;
}
.form {
  padding-right: 5%;
  text-align: right;
}
.form-group {
  display: inline-block;
  width: 98%;
}
.text-danger {
  font-size: 13px;
  text-align: right;
  margin-top: 0.5vw;
  height: 5px;
}

.expired:hover > span {
  color: red;
}
