<div class="row">
  <div class="col-md-6"><app-remaining-time></app-remaining-time></div>
  <div class="col-md-6"><app-premium-cta></app-premium-cta></div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="container-fluid">
    <div class="card card-shadow">
      <div
        *ngIf="links && links.length === 0"
        class="alert text-danger alert-outline text-center"
        role="alert"
      >
        <div>
          <strong>چرا</strong> هنوز <strong>لینکی</strong> ایجاد نکرده اید ؟؟؟
        </div>
        <br />
        <button class="btn btn-outline-success" routerLink="create">
          ساخت لینک جدید
        </button>
      </div>
      <button
        *ngIf="links && links.length !== 0"
        class="btn btn-outline-success"
        routerLink="create"
      >
        ساخت لینک جدید
      </button>
    </div>
  </div>
</div>
<hr />
<app-links-grid
  [links]="links"
  (delete)="deleteUserLink($event)"
  (update)="updateUserLink($event)"
  *ngIf="links && links.length !== 0"
></app-links-grid>
