<div class="form-group">
  <input
    *ngIf="!linkAddress"
    type="text"
    name="address"
    placeholder="https://example.com"
    [(ngModel)]="link.address"
    class="form-control"
  />
</div>
<button
  *ngIf="!linkAddress"
  (click)="submit()"
  class="btn btn-large bg-gradient-info btn-info"
  type="button"
>
  {{ messages }}
</button>
<!-- show created Link and reset Link -->
<div class="row" id="shorted-link" *ngIf="linkAddress">
  <div class="col-sm-12 card shadow">
    <div class="row">
      <div class="col-md-11">
        <a href="{{ linkAddress }}" target="_blank">{{ linkAddress }}</a>
      </div>
      <div class="col-md-1">
        <button
          class="btn btn-outline-success pull-right"
          (click)="copyToClipBoard()"
        >
          کپی شود
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<button
  *ngIf="linkAddress"
  (click)="resetLink()"
  class="btn btn-large bg-gradient-info btn-info"
>
  شروع مجدد
</button>
<br /><br />
<!-- others component -->
<div class="row" *ngIf="!isLoading">
  <app-custom-link-form
    [link]="link"
    [editMode]="editMode"
  ></app-custom-link-form>
  <app-password-form [link]="link"></app-password-form>

  <!-- <button class="btn btn-outline-primary">
    <div
      class="custom-control custom-checkbox mb-3"
      data-toggle="tooltip"
      data-placement="top"
      title="فقط شما میتوانید گزارش کلیک های لینک را ببینید"
    >
      <input
        class="custom-control-input"
        id="custom-link"
        type="checkbox"
        disabled
      />
      <label class="custom-control-label" for="custom-link"
        >نتایج خصوصی باشد</label
      >
    </div>
  </button> -->
  <!-- <app-category-form [link]="link"></app-category-form> -->
  <!-- <button
    class="btn btn-outline-primary"
    (click)="setModalComponent('category')"
    data-toggle="modal"
    data-target="#modal-form"
  >

      <label class="custom-control-label" for="category">دسته بندی</label>
    </div>
  </button> -->

  <!-- <button
    class="btn btn-outline-primary"
    (click)="setModalComponent('deepLink')"
    data-toggle="modal"
    data-target="#modal-form"
  >
    <div
      class="custom-control custom-checkbox mb-3"
      data-toggle="tooltip"
      data-placement="top"
      title="با فعال کردن لینک شرطی میتوانید با توجه به شرایط کاربر وی را به مقاصد مختلفی هدایت کنید، مثلا اگر فردی با موبایل روی لینک شما کلیک کرد او را به صفحه مخصوص موبایل در سایت خود بفرستید"
    >
      <input
        class="custom-control-input"
        id="deep-link"
        type="checkbox"
        disabled
      />
      <label class="custom-control-label" for="deep-link"
        >لینک شرطی (Deep Link)</label
      >
    </div>
  </button> -->
  <!-- <button
    class="btn btn-outline-primary"
    (click)="setModalComponent('utm')"
    data-toggle="modal"
    data-target="#modal-form"
  >
    <div
      class="custom-control custom-checkbox mb-3"
      data-toggle="tooltip"
      data-placement="top"
      title="برای لینک خود utm ست کنید"
    >
      <input class="custom-control-input" id="utm" type="checkbox" disabled />
      <label class="custom-control-label" for="utm">UTM</label>
    </div>
  </button> -->
</div>
