<!-- input for getting addrees of site -->
<div class="form-group">
  <input
    *ngIf="!linkAddress"
    class="form-control"
    placeholder="https://example.com"
    type="text"
    [(ngModel)]="link.address"
    (input)="emitUtm()"
    name="address"
  />
</div>
<!-- button to submitting action -->
<div class="buttons">
  <button
    *ngIf="!linkAddress"
    (click)="submit()"
    class="btn btn-large bg-gradient-info btn-info"
    type="button"
    [disabled]="disabled"
  >
    {{ messages }}
  </button>
  <!-- show created Link and reset Link -->
  <div class="row" id="shorted-link" *ngIf="linkAddress">
    <div class="col-sm-12 card shadow">
      <div class="row">
        <div class="col-md-11">
          <a href="{{ linkAddress }}" target="_blank">{{ linkAddress }}</a>
        </div>
        <div class="col-md-1">
          <button
            class="btn btn-outline-success pull-right"
            (click)="copyToClipBoard()"
          >
            کپی شود
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- button for resetting created link -->
  <button
    *ngIf="linkAddress"
    (click)="resetLink()"
    class="btn btn-large bg-gradient-info btn-info"
  >
    شروع مجدد
  </button>
</div>
<br /><br />
<!-- Others Component-->
<div class="row component" *ngIf="!isLoading">
  <div class="row">
    <div class="col-lg-6">
      <app-custom-link-form
        [link]="link"
        [editMode]="editMode"
        [isExpired]="isExpired"
        (unavailable)="showUpgradeMessage()"
      ></app-custom-link-form>
      <app-password-form
        [link]="link"
        [editMode]="editMode"
        [isExpired]="isExpired"
        (unavailable)="showUpgradeMessage()"
      ></app-password-form>
      <app-private-link-form
        [link]="link"
        [editMode]="editMode"
        [isExpired]="isExpired"
        (unavailable)="showUpgradeMessage()"
      ></app-private-link-form>
      <app-category-form
        [link]="link"
        [editMode]="editMode"
        [isExpired]="isExpired"
        (unavailable)="showUpgradeMessage()"
      ></app-category-form>
      <app-utm-form
        [link]="link"
        [editMode]="editMode"
        [isExpired]="isExpired"
        (unavailable)="showUpgradeMessage()"
      ></app-utm-form>
    </div>
  </div>

  <!-- modal for expired users -->
    <div class="modal-content bg-gradient-danger" *ngIf="showModal">
      <div class="modal-header">
        <h6 class="modal-title display-3" id="modal-title-notification"></h6>
      </div>
      <div class="modal-body text-white">
        <div class="py-3 text-center">
          <i class="ni ni-bell-55 ni-3x"></i>
          <h4 class="heading mt-4">توجه !</h4>
          <p>برای استفاده از این فیچر باید حرفه ای باشید</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" (click)="goPermium()">
          باشه، حرفه ای میشم
        </button>
        <button
          type="button"
          class="btn btn-link text-white ml-auto"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          میخوام غیرحرفه ای بمانم
        </button>
      </div>
    </div>
</div>
